@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

.font-brand { font-family: Didot, "Bodoni MT", "Didot LT STD", "Hoefler Text", "Baskerville", Georgia, "Times New Roman", serif; }

.parallax {
    background-image: url('/images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}